<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form id="loginForm">
    <label for="loginUsername"></label><input type="text" id="loginUsername" required/>
    <label for="loginPassword"></label><input type="password" id="loginPassword" required/>
    <button type="submit">Login</button>
</form>
</body>
</html>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(e) {
        e.preventDefault();

        const username = document.getElementById('loginUsername').value;
        const password = document.getElementById('loginPassword').value;

        fetch('/auth/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            credentials: 'same-origin', // << important: ensures browser accepts Set-Cookie
            body: JSON.stringify({ username: username, password: password })
        })
            .then(async res => {
                const msg = await res.text();
                if (res.ok) {
                    alert(msg);
                window.location.href = '/books';
                }
                 else {
                    alert(msg);
                }
            })
            .catch(err => console.error(err));
    });
</script>
